In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [5]:
dataset =  [['Milk', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
            ['Banana', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
            ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
            ['Milk', 'Ice cream', 'Corn', 'Kidney Beans', 'Yogurt'],
            ['Corn', 'Apple', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

dataset

[['Milk', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Banana', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Ice cream', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Apple', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [6]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)


df

   Apple  Banana   Corn   Eggs  Ice cream  Kidney Beans   Milk  Onion  Yogurt
0   True   False  False   True      False          True   True   True    True
1   True    True  False   True      False          True  False   True    True
2   True   False  False   True      False          True   True  False   False
3  False   False   True  False       True          True   True  False    True
4   True   False   True   True       True          True  False   True   False

In [11]:
frequent_itemsets_60 = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets_60

    support                            itemsets
0       0.8                             (Apple)
1       0.8                              (Eggs)
2       1.0                      (Kidney Beans)
3       0.6                              (Milk)
4       0.6                             (Onion)
5       0.6                            (Yogurt)
6       0.8                       (Apple, Eggs)
7       0.8               (Apple, Kidney Beans)
8       0.6                      (Apple, Onion)
9       0.8                (Kidney Beans, Eggs)
10      0.6                       (Onion, Eggs)
11      0.6                (Kidney Beans, Milk)
12      0.6               (Kidney Beans, Onion)
13      0.6              (Yogurt, Kidney Beans)
14      0.8         (Apple, Eggs, Kidney Beans)
15      0.6                (Apple, Eggs, Onion)
16      0.6        (Apple, Onion, Kidney Beans)
17      0.6         (Kidney Beans, Eggs, Onion)
18      0.6  (Apple, Eggs, Onion, Kidney Beans)

In [14]:
frequent_itemsets_80 = apriori(df, min_support=0.8, use_colnames=True)
frequent_itemsets_80

   support                     itemsets
0      0.8                      (Apple)
1      0.8                       (Eggs)
2      1.0               (Kidney Beans)
3      0.8                (Apple, Eggs)
4      0.8        (Apple, Kidney Beans)
5      0.8         (Kidney Beans, Eggs)
6      0.8  (Apple, Eggs, Kidney Beans)

In [15]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets_60, metric="confidence", min_threshold=0.85)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Apple),(Eggs),0.8,0.8,0.8,1.0,1.25,0.16,inf
1,(Eggs),(Apple),0.8,0.8,0.8,1.0,1.25,0.16,inf
2,(Apple),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
3,(Onion),(Apple),0.6,0.8,0.6,1.0,1.25,0.12,inf
4,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
5,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
6,(Milk),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
7,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
8,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
9,"(Apple, Eggs)",(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
10,"(Apple, Kidney Beans)",(Eggs),0.8,0.8,0.8,1.0,1.25,0.16,inf
11,"(Kidney Beans, Eggs)",(Apple),0.8,0.8,0.8,1.0,1.25,0.16,inf
12,(Apple),"(Kidney Beans, Eggs)",0.8,0.8,0.8,1.0,1.25,0.16,inf
13,(Eggs),"(Apple, Kidney Beans)",0.8,0.8,0.8,1.0,1.25,0.16,inf
14,"(Apple, Onion)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
15,"(Onion, Eggs)",(Apple),0.6,0.8,0.6,1.0,1.25,0.12,inf
16,(Onion),"(Apple, Eggs)",0.6,0.8,0.6,1.0,1.25,0.12,inf
17,"(Apple, Onion)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
18,"(Onion, Kidney Beans)",(Apple),0.6,0.8,0.6,1.0,1.25,0.12,inf
19,(Onion),"(Apple, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf
20,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
21,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
22,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.0,1.25,0.12,inf
23,"(Apple, Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
24,"(Apple, Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
25,"(Onion, Eggs, Kidney Beans)",(Apple),0.6,0.8,0.6,1.0,1.25,0.12,inf
26,"(Apple, Onion)","(Kidney Beans, Eggs)",0.6,0.8,0.6,1.0,1.25,0.12,inf
27,"(Onion, Eggs)","(Apple, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf
28,"(Onion, Kidney Beans)","(Apple, Eggs)",0.6,0.8,0.6,1.0,1.25,0.12,inf
29,(Onion),"(Apple, Eggs, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf

In [16]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets_80, metric="confidence", min_threshold=0.85)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Apple),(Eggs),0.8,0.8,0.8,1.0,1.25,0.16,inf
1,(Eggs),(Apple),0.8,0.8,0.8,1.0,1.25,0.16,inf
2,(Apple),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
3,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
4,"(Apple, Eggs)",(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
5,"(Apple, Kidney Beans)",(Eggs),0.8,0.8,0.8,1.0,1.25,0.16,inf
6,"(Kidney Beans, Eggs)",(Apple),0.8,0.8,0.8,1.0,1.25,0.16,inf
7,(Apple),"(Kidney Beans, Eggs)",0.8,0.8,0.8,1.0,1.25,0.16,inf
8,(Eggs),"(Apple, Kidney Beans)",0.8,0.8,0.8,1.0,1.25,0.16,inf