In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
df = pd.read_csv('Market_Basket_AR.csv')
df

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df = df.applymap(lambda x: 0 if pd.isnull(x) else 1)
df

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7496,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7497,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7498,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7499,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
frequent_itemsets_60 = apriori(df.astype('bool'), min_support=0.6, use_colnames=True)
frequent_itemsets_60

    support           itemsets
0  1.000000           (shrimp)
1  0.766133          (almonds)
2  0.766133  (almonds, shrimp)

In [12]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets_60, metric="confidence", min_threshold=0.85)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(almonds),(shrimp),0.766133,1.0,0.766133,1.0,1.0,0.0,inf

In [13]:
frequent_itemsets_80 = apriori(df.astype('bool'), min_support=0.8, use_colnames=True)
frequent_itemsets_80

   support  itemsets
0      1.0  (shrimp)

In [15]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets_80, metric="confidence", min_threshold=0.85)
rules

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [16]:
frequent_itemsets_22 = apriori(df.astype('bool'), min_support=0.22, use_colnames=True)
frequent_itemsets_22

     support                                           itemsets
0   1.000000                                           (shrimp)
1   0.766133                                          (almonds)
2   0.585067                                          (avocado)
3   0.445867                                   (vegetables mix)
4   0.337067                                     (green grapes)
..       ...                                                ...
58  0.248400  (green grapes, shrimp, avocado, almonds, whole...
59  0.248400  (green grapes, shrimp, vegetables mix, almonds...
60  0.248400  (green grapes, shrimp, avocado, vegetables mix...
61  0.248400  (green grapes, avocado, vegetables mix, almond...
62  0.248400  (green grapes, shrimp, avocado, vegetables mix...

[63 rows x 2 columns]

In [17]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets_22, metric="confidence", min_threshold=0.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(almonds),(shrimp),0.766133,1.000000,0.766133,1.000000,1.000000,0.000000,inf
1,(shrimp),(almonds),1.000000,0.766133,0.766133,0.766133,1.000000,0.000000,1.000000
2,(avocado),(shrimp),0.585067,1.000000,0.585067,1.000000,1.000000,0.000000,inf
3,(shrimp),(avocado),1.000000,0.585067,0.585067,0.585067,1.000000,0.000000,1.000000
4,(vegetables mix),(shrimp),0.445867,1.000000,0.445867,1.000000,1.000000,0.000000,inf
...,...,...,...,...,...,...,...,...,...
497,"(vegetables mix, whole weat flour)","(almonds, green grapes, avocado, shrimp)",0.248400,0.337067,0.248400,1.000000,2.966772,0.164673,inf
498,"(almonds, whole weat flour)","(vegetables mix, green grapes, avocado, shrimp)",0.248400,0.337067,0.248400,1.000000,2.966772,0.164673,inf
499,(green grapes),"(shrimp, avocado, vegetables mix, almonds, who...",0.337067,0.248400,0.248400,0.736946,2.966772,0.164673,2.857210
500,(vegetables mix),"(green grapes, shrimp, avocado, almonds, whole...",0.445867,0.248400,0.248400,0.557117,2.242823,0.137647,1.697063
501,(whole weat flour),"(green grapes, shrimp, avocado, vegetables mix...",0.248400,0.337067,0.248400,1.000000,2.966772,0.164673,inf